---
import { marked } from "marked"

// IMPORT ASTRO ATOMS
import H3 from "../../../atoms/H3.astro"

const { title, description } = Astro.props

const html = marked.parse( description )
---
<div class="space-y-2">
    <H3>{ title }</H3>
    <section set:html={ html } class="markdown" />
</div>
