---
// IMPORT ASTRO ATOMS
import H2 from "../../../atoms/H2.astro"

// IMPORT ASTRO COMPONENTS
import ServiceItem from "./ServiceItem.astro"

const data = Array(4).fill({

	title: "Product Development & Innovation",
	description: "We act as your product development team, collaborating closely to help refine ideas and build the necessary software to get products to launch. We work with you to internalize your vision, balancing immediate needs with your long-term goals while building on a scalable technical foundation."

})
---
<section>
	<div>
		<div class="space-y-10">
			<H2>We Develop Innovative Digital Products & Modernize Legacy Applications</H2>
			<p class="text-2xl font-gt_america">
				Integrating engineering, strategy, and design, MojoTech transforms enterprises and scales technology disruptors into leading digital businesses.
			</p>
		</div>
		<div class="grid grid-cols-2 gap-x-8 gap-y-16 py-20">
			{

				data.map( ( item ) => {

					return(
						<ServiceItem
							title={ item.title }
							description={ item.description }
						/>
					)

				})

			}
		</div>
	</div>
</section>
