---
// IMPORT ASTRO ATOMS
import H2 from "../../../atoms/H2.astro"

// IMPORT ASTRO COMPONENT
import AdvantageItem from "./AdvantageItem.astro"
---
<section class="space-y-20">
	<H2>The MojoTech Advantage</H2>
	<div class="space-y-4">
		<AdvantageItem
			src=""
			alt=""
			title="Innovation"
			description="Our cloud-native software development process enables us to swiftly adapt to new opportunities while building upon a solid foundation. We break down complex problems and legacy systems to create multiple paths to innovation and modernization."
		/>
		<AdvantageItem
			src=""
			alt=""
			title="Innovation"
			description="Our cloud-native software development process enables us to swiftly adapt to new opportunities while building upon a solid foundation. We break down complex problems and legacy systems to create multiple paths to innovation and modernization."
		/>
		<AdvantageItem
			src=""
			alt=""
			title="Innovation"
			description="Our cloud-native software development process enables us to swiftly adapt to new opportunities while building upon a solid foundation. We break down complex problems and legacy systems to create multiple paths to innovation and modernization."
		/>
		<AdvantageItem
			src=""
			alt=""
			title="Innovation"
			description="Our cloud-native software development process enables us to swiftly adapt to new opportunities while building upon a solid foundation. We break down complex problems and legacy systems to create multiple paths to innovation and modernization."
		/>
	</div>
</section>