---
// IMPORT ASTRO ATOMS
import H3 from "../../../atoms/H3.astro"
import Paragraph from "../../../atoms/Paragraph.astro"

const {

    src,
    alt,
    title,
    description

} = Astro.props
---
<div class="flex items-center justify-between border-b border-zinc-200 pb-10">
    <div class="flex gap-4">
        <div class="size-8 bg-zinc-200">
            <img
                src={ src }
                alt={ alt }
                class="size-8"
            />
        </div>
        <H3>{ title }</H3>
        <Paragraph>{ description }</Paragraph>
    </div>
    <span>+</span>
</div>
