---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import ButtonLarge from "@/atoms/buttons/large/index.astro"
import HeadingOne from "@/atoms/headings/one/index.astro"
import Link from "@/atoms/links/index.astro"

// GET ASTRO PROPS
const { data } = Astro.props

---
<Container>
	<section class="space-y-20 md:py-32">
		<div class="space-y-6">
			<HeadingOne>{ data.title }</HeadingOne>
			<p class="text-xl md:text-2xl font-gt_america_light">{ data.description }</p>
		</div>
		<Link href={ data.button_link } aria_label={ data.button_title }>
			<ButtonLarge>{ data.button_title }</ButtonLarge>
		</Link>
	</section>
</Container>
