---
// IMPORT ASTRO ATOMS
import H1 from "../../atoms/H1.astro"
import LargeButton from "../../atoms/LargeButton.astro"
---
<section class="space-y-20 py-32">
	<div class="space-y-6">
		<H1>Software Development & Design for Innovative Companies</H1>
		<p class="text-2xl">
			MojoTech is a premier product development and application modernization agency.
		</p>
	</div>
	<LargeButton>Build Better Software</LargeButton>
</section>
