---
// IMPORT ASTRO ATOMS
import Button from "../../atoms/Button.astro"
---

<section>
	<div class="flex justify-between items-center bg-mojo_zinc p-12">
		<p class="text-2xl font-gt_america_regular">
			Looking for something specific?
		</p>
		<Button>See More Services</Button>
	</div>
</section>
