---
// IMPORT ASTRO ATOMS
import Button from "../../atoms/Button.astro"
---

<section>
	<div class="flex justify-between items-center bg-mojo_zinc p-12">
		<p class="text-2xl">
			We’ve launched over 150 products
		</p>
		<Button>See More Work</Button>
	</div>
</section>
