---
// IMPORT ASTRO ATOMS
import H2 from "../../../atoms/H2.astro"
// IMPORT ASTRO COMPONENTS
import Testimonials from "./Testimonials.astro"
---

<section class="space-y-10 py-20">
	<H2>A Trusted Software Development Partner</H2>
    <p class="text-2xl">
      	MojoTech partners with progressive organizations to deliver solutions requiring speed, scale, security, and innovation.
    </p>
    <Testimonials
		author_name="Leo Pellerin"
		author_designation="CIO, United Way of Connecticut"
		src=
		alt=""
		review="MojoTech is everything I could ask for in a product development partner. They quickly became trusted members of our product and engineering teams, and we relied on them to independently drive critical initiatives ranging from new feature development to enterprise integrations and legacy modernization."
	/>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8 pt-10">
		<div class="w-40 aspect-video bg-zinc-200">
			<img
				src=""
				alt=""
				class="w-full h-full"
			/>
		</div>
		<div class="w-40 aspect-video bg-zinc-200">
			<img
				src=""
				alt=""
				class="w-full h-full"
			/>
		</div>
		<div class="w-40 aspect-video bg-zinc-200">
			<img
				src=""
				alt=""
				class="w-full h-full"
			/>
		</div>
		<div class="w-40 aspect-video bg-zinc-200">
			<img
				src=""
				alt=""
				class="w-full h-full"
			/>
		</div>
    </div>
</section>