---
const {

    author_name,
    author_designation,
    src,
    alt,
    review

} = Astro.props
---
<div class="space-y-10 bg-mojo_zinc p-20">
    <p class="text-2xl">“{ review }”</p>
    <div class="flex gap-10 items-center">
        <div class="w-40 aspect-video bg-zinc-200">
            <img
                src={ src }
                alt={ alt }
                class="w-40 aspect-video"
            />
        </div>
        <div>
            <p class="text-lg text-emerald-600">{ author_name }</p>
            <p class="text-lg text-emerald-600/50">{ author_designation }</p>
        </div>
    </div>
</div>
