<section class="bg-white text-gray-800">
  <header class="container mx-auto px-4 py-6 flex justify-between items-center">
    <div class="flex items-center">
      <div class="p-2 rounded-full bg-green-500 text-white">
        M
      </div>
      <nav class="ml-4">
        <ul class="flex space-x-4">
          <li><a href="#" class="hover:text-green-500">Services</a></li>
          <li><a href="#" class="hover:text-green-500">Process</a></li>
          <li><a href="#" class="hover:text-green-500">Work</a></li>
          <li><a href="#" class="hover:text-green-500">About</a></li>
          <li><a href="#" class="hover:text-green-500">Thoughts</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <a href="#" class="border border-black px-4 py-2 hover:bg-gray-100">Contact</a>
    </div>
  </header>
</section>