---
// IMPORT ASTRO ATOMS
import H2 from "../../../atoms/H2.astro"

// IMPORT ASTRO COMPONENTS
import CaseStudy from "./CaseStudy.astro"

const { data } = Astro.props
---

<section class="space-y-20">
	<H2>Accelerating Industry Leaders.</H2>
	<div class="grid grid-cols-2 gap-8">
		{

			data.map( ( item, index ) => {

				return(
					<CaseStudy
						top_padding={ index % 2 }
						src={ item.cover }
						alt={ item.alt }
						title={ item.title }
						description={ item.description }
						href={ item.href }
						button_title={ item.button_title }
						aria_label={ item.aria_label }
					/>
				)

			})

		}
	</div>
</section>
