---
import { marked } from "marked"

// IMPORT ASTRO ATOMS
import H3 from "../../../atoms/H3.astro"
import Paragraph from "../../../atoms/Paragraph.astro"

// IMPORT CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../../constants/cdn"

const {

    src,
    alt,
    title,
    description,
    href,
    button_title,
    aria_label,
    top_padding

} = Astro.props

const html = marked.parse( description )
---
<div class={` ${ top_padding ? "md:pt-20" : "" } space-y-6`}>
    <div class="w-full h-[540px] bg-zinc-200">
        <img
            src={ CDN_LINK + src + "?quality=" + IMAGE_QUALITY }
            alt={ alt }
            class="w-full h-full object-cover"
        />
    </div>
    <div>
        <H3>{ title }</H3>
        <section set:html={ html } class="markdown" />
        <div class="pt-4">
            <a
                href={ href }
                class="text-lg underline hover:cursor-pointer"
                aria-label={ aria_label }
            >
                { button_title }
            </a>
        </div>
    </div>
</div>
