---
// IMPORT ASTRO COMPONENTS
import SocialIcons from './SocialIcons.astro'

import { getCollection } from 'astro:content'

let footer_column_one = await getCollection('footer-column-one')
footer_column_one = footer_column_one.sort((a, b) => a.data.order - b.data.order)
footer_column_one = footer_column_one.filter( ( item ) => item.data.live )

let footer_column_two = await getCollection('footer-column-two')
footer_column_two = footer_column_two.sort((a, b) => a.data.order - b.data.order)
footer_column_two = footer_column_two.filter( ( item ) => item.data.live )

let footer_column_three = await getCollection('footer-column-three')
footer_column_three = footer_column_three.sort((a, b) => a.data.order - b.data.order)
footer_column_three = footer_column_three.filter( ( item ) => item.data.live )

let footer_column_four = await getCollection('footer-column-four')
footer_column_four = footer_column_four.sort((a, b) => a.data.order - b.data.order)
footer_column_four = footer_column_four.filter( ( item ) => item.data.live )

import { frontmatter as footerColumnOne } from "../../../content/footer-titles/title-one.md"
import { frontmatter as footerColumnTwo } from "../../../content/footer-titles/title-two.md"
import { frontmatter as footerColumnThree } from "../../../content/footer-titles/title-three.md"
import { frontmatter as footerColumnFour } from "../../../content/footer-titles/title-four.md"
---
<footer class="bg-mojo_dark_green py-40 z-30 relative">
    <section class="container sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-[1180px] mac:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto">
        <section class="space-y-2">
            <p class="text-white text-xl">Ready to get started?</p>
            <div class="flex gap-6 items-center">
                <p class="text-white text-6xl font-bold">Let’s talk software</p>
                <div class="p-4 bg-white hover:bg-green-600 group rounded-full">
                    <div class="size-5 group-hover:hidden">
                        <img
                            src="/icons/black_right_arrow.svg"
                            alt=""
                            class="size-5"
                        />
                    </div>
                    <div class="size-5 hidden group-hover:block">
                        <img
                            src="/icons/white_right_arrow.svg"
                            alt=""
                            class="size-5"
                        />
                    </div>
                </div>
            </div>
            <p class="text-white">Check out our ★★★★★ reviews on Clutch.</p>
        </section>
        <section class="py-20 border-b border-white">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-10">
                <div class="flex flex-col items-center md:items-start">
                    <div class="pb-2">
                        <p class="uppercase text-white/60">{ footerColumnOne.title }</p>
                    </div>
                    {

                        footer_column_one.map( ( item ) => {

                            return (
                                <div class="flex items-center gap-4">
                                    <ul class="py-1">
                                        <li class="text-white text-lg group">
                                            <a href={ item.data.link }>
                                                <p>{ item.data.title }</p>
                                            </a>
                                            <div class="w-0 bg-white group-hover:w-full h-[1px] transition-width duration-200 ease-in"></div>
                                        </li>
                                    </ul>
                                </div>
                            )

                        })

                    }
                </div>
                <div class="flex flex-col items-center md:items-start">
                    <div class="pb-2">
                        <p class="uppercase text-white/60">{ footerColumnTwo.title }</p>
                    </div>
                    {

                        footer_column_two.map( ( item ) => {

                            return (
                                <div class="flex items-center gap-4">
                                    <ul class="py-1">
                                        <li class="text-white text-lg group">
                                            <a href={ item.data.link }>
                                                <p>{ item.data.title }</p>
                                            </a>
                                            <div class="w-0 bg-white group-hover:w-full h-[1px] transition-width duration-200 ease-in"></div>
                                        </li>
                                    </ul>
                                </div>
                            )

                        })

                    }
                </div>
                <div class="flex flex-col items-center md:items-start">
                    <div class="pb-2">
                        <p class="uppercase text-white/60">{ footerColumnThree.title }</p>
                    </div>
                    {

                        footer_column_three.map( ( item ) => {

                            return (
                                <div class="flex items-center gap-4">
                                    <ul class="py-1">
                                        <li class="text-white text-lg group">
                                            <a href={ item.data.link }>
                                                <p>{ item.data.title }</p>
                                            </a>
                                            <div class="w-0 bg-white group-hover:w-full h-[1px] transition-width duration-200 ease-in"></div>
                                        </li>
                                    </ul>
                                </div>
                            )

                        })

                    }
                </div>
                <div class="flex flex-col items-center md:items-start text-center md:text-left">
                    <div class="pb-4">
                        <p class="uppercase text-white/60">{ footerColumnFour.title }</p>
                    </div>
                    {

                        footer_column_four.map( ( item ) => {

                            return (
                                <div class="flex items-center gap-4">
                                    <ul class="py-1">
                                        <li class="text-white text-lg group">
                                            <a href={ item.data.link }>
                                                <p>{ item.data.title }</p>
                                            </a>
                                            <div class="w-0 bg-white group-hover:w-full h-[1px] transition-width duration-200 ease-in"></div>
                                        </li>
                                    </ul>
                                </div>
                            )

                        })

                    }
                    <div class="pt-4">
                        <p class="text-sm text-white/60">MojoTech is a 100% US-based software development agency.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="flex items-center justify-between py-6">
            <div class="flex gap-4">
                <p class="text-white">© 2023 MojoTech LLC. All rights reserved.</p>
                <p class="text-white underline">Privacy Policy</p>
            </div>
            <!-- SOCIAL ICONS -->
            <SocialIcons />
        </section>
    </section>
</footer>
