---
// IMPORT ASTRO COMPONENTS
import SocialIcon from "./SocialIcon.astro"
---
<div class="flex gap-4">
    <SocialIcon
        src="/icons/linkedin.svg"
        alt=""
        href="https://www.linkedin.com/company/mojotech/"
    />
    <SocialIcon
        src="/icons/github.svg"
        alt=""
        href="https://github.com/mojotech/"
    />
    <SocialIcon
        src="/icons/x.svg"
        alt=""
        href="https://twitter.com/mojotech/"
    />
</div>
