---
const { href, src, alt } = Astro.props
---
<a href={ href } target="_blank">
    <div class="size-6">
        <img
            src={ src }
            alt={ alt }
            class="size-6"
        />
    </div>
</a>
