---

// IMPORTS ASTRO ATOMS
import SocialIcon from "@/atoms/footer/social-icon/index.astro"

---
<div class="flex gap-4">
    <SocialIcon
        alternative_text="linkedin icon"
        href="https://www.linkedin.com/company/mojotech/"
        source="/icons/linkedin.svg"
    />
    <SocialIcon
        alternative_text="github icon"
        href="https://github.com/mojotech/"
        source="/icons/github.svg"
    />
    <SocialIcon
        alternative_text="x icon"
        href="https://twitter.com/mojotech/"
        source="/icons/x.svg"
    />
</div>
